<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>check</title>
    <style>
        div{
            position: absolute;
            right: 10px;
            top: 5px;
        }
    </style>
</head>
<body>
    Welcome {{e}}

    <div>
        <button type = "button" onclick="location.href = '{%  url 'logout' %}'">Logout</button>
    </div>
    
    <br><br>
    <button type="button" onclick="location.href = '{% url 'create' %}'">Create Report</button>
    <button type = "button" onclidck = "location.href = '{% url 'check' %}'">Check Report</button>
</body>
</html>